[submodule "themes/minimal-academic"]
	path = themes/minimal-academic
	url = https://github.com/jhu247/minimal-academic.git
[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = https://github.com/Xzya/hugo-bootstrap.git
[submodule "themes/my-hugo-bootstrap"]
	path = themes/my-hugo-bootstrap
	url = https://github.com/iGormilhit/hugo-bootstrap.git
